html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  position: relative;
  position: fixed;
  top: 0;
 }

 #Brand_logo {
   font-family: 'Bungee', cursive;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .New_Tweet_Actual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

