html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

 form {
   width: 100%;
 text-align: center;
 }

 .button {
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Bungee', cursive;
  font-size: medium;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  }
  .button:active {
  top:0.1em;
  }
  @media all and (max-width:30em){
  .button {
  display:block;
  margin:0.4em auto;
  }
  }

  #tweet-text {

    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: solid;
    outline: none;
    resize: none;
  }

  #new-tweet {
    
  }

    
    .tweet_button {
      width: 100%;
      display: flex;
      justify-content: space-between
    }

    .counter {
      display: flex;
      justify-content: flex-end;
    }